[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	fetchRecurseSubmodules = true
[submodule "tests"]
	path = tests
	url = https://github.com/libcgroup/libcgroup-tests.git
