patches/*
*.o
*.lo
*.la
stamp-*
*.cache
.deps/
.libs/
*~
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
missing
install-sh
aclocal.m4
ylwrap
*.pc
